.badge {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid #4A4E51;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badgeIcon {
  width: 60px;
  display: block;
  margin-bottom: 10px;
}

.badgeNumber {
  font-size: 26px;
}
